# Dependencias adicionales (Ultralytics ya incluye opencv-python, numpy, ultralytics, onnxruntime)
fastapi
uvicorn[standard]
python-multipart
pydantic

# Solo para GPU (se instala en el stage gpu del Dockerfile)
# tensorrt>=10.0.0
# onnxruntime-gpu
